.store-img
{
     width: 400px;
     height: 500px;    
}
.inners
{
     display: flex;
     justify-content: center;
     align-items: center;
}
.about
{
     display: flex;
     justify-content: center;
     align-items: center;
}